//// IMPORTS

@import 'utilities/_reset';
@import 'utilities/_fonts';
@import 'utilities/_helpers';
@import 'utilities/_commons';
@import 'utilities/_grid';

@import '_header';
@import '_footer';

//// VARIABLES

    // COLORS

$aqua: #14d9c4;
$blue-green: #099d8d;
$grey1: #fafafa;
$grey2: #b8b8b9;
$grey3: #54585a;

    // FONTS

$Rubik: 'Rubik', sans-serif;

//// MAIN STYLES

body {
    color:$grey3;
    font-family: $Rubik;
}

a {
    text-decoration: none;
}

//// EQUIPO

.equipo {
    background-color:$grey1;
}

.equipo-main {
    max-width: 693px;
    margin: 0 auto;
    min-height: 200px;
    text-align: center;
    padding:45px 0;
    .equipo-miembros {
        .miembro {
            position: relative;
            flex-basis: calc(100% / 3 - 32px);
            margin:20px 16px;
            &:hover {
                figure {
                    .linkedin {
                        opacity: .8;
                    }
                }
            }
            &.unete {
                &:hover {
                    .linkedin {
                        opacity: 0;
                    }
                }
                .btn {
                    margin-top:20px;
                    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
                }
            }
            figure {
                position: relative;
                border-radius: 3px;
                overflow: hidden;
                .linkedin {
                    content: '';
                    position: absolute;
                    top:0;
                    left: 0;
                    width:100%;
                    height:100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;
                    text-align: center;
                    color:#FFF;
                    background-color: $aqua;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity cubic-bezier(0.51, 0.07, 0.47, 0.91) 0.3s;
                }
                a {
                    display: inline-block;
                    vertical-align: middle;
                    margin: auto;
                    color: #FFF;
                }
            }
            img {
                display: block;
                width:100%;
            }
            h4 {
                margin-top:12px;
                font-size: 18px;
                font-weight: 500;
                line-height: 160%;
            }
            span {
                display: block;
                font-size: 16px;
                line-height: 160%;
            }
        }
    }
}


//// SELECTION STYLES

::selection {background: #FFFF66;color:grey;}
::selection { background: #FFFF66;color:grey;}
::-moz-selection {background: #FFFF66;color:grey;}
::-webkit-selection {background: #FFFF66;color:grey;}

//// PLACEHOLDER STYLES

::-webkit-input-placeholder {color: #FFFF66;}
:-moz-placeholder {color: #FFFF66;}
::-moz-placeholder {color: #FFFF66;}
:-ms-input-placeholder {color: #FFFF66;}

//// MEDIA QUERIES

@media (max-width:1200px) {
    
}
